{% extends "../../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

 {% set backLinkHref = "/pin-phone" %}
{% set pageTitle = "Buy PIN phone credit" %}

{% set otherAmount %}
  {{ govukInput({
    id: "customAmount",
    name: "customAmount",
    value: creditAmount if amountType == 'other',
    classes: "govuk-input--width-4",
    prefix: {
      text: "£"
    }
  }) }}
{% endset %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block content %}
 <div class="govuk-body govuk-width-container">

    {% if errorList %}
       {{ govukErrorSummary({
         titleText: "There is a problem",
         errorList: errorList
       }) }}
    {% endif %}

     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ pageTitle }}</h1>

          <form method="post" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukTable({
              classes: "govuk-!-width-two-thirds",
              firstCellIsHeader: false,
              rows: [
                [
                  {
                    text: "Current PIN phone credit",
                    classes: "govuk-!-width-one-half govuk-!-font-weight-bold"
                  },
                  {
                    text: "£" + currentPinPhoneCredit
                  }
                ],
                [
                  {
                    text: "Spends balance",
                    classes: "govuk-!-font-weight-bold"
                  },
                  {
                    text: "£" + currentSpendsBalance
                  }
                ],
                [
                  {
                    text: "PIN phone credit limit",
                    classes: "govuk-!-font-weight-bold"
                  },
                  {
                    text: "£" + pinPhoneCreditLimit
                  }
                ]
              ]
            }) }}

            {% call govukInsetText() %}
               You can buy up to £{{ creditBuyCapacity }}
            {% endcall %}

          {{ govukRadios({
            classes: "pin-credit-radios",
            name: "amount",
            errorMessage: amountError,
            fieldset: {
              legend: {
                text: "How much PIN phone credit would you like to buy?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "0.50",
                text: "£0.50",
                checked: amountType == '0.50'
              },
              {
                value: "1",
                text: "£1.00",
                checked: amountType == '1'
              },
              {
                value: "3",
                text: "£3.00",
                checked: amountType == '3'
              },
              {
                value: "5",
                text: "£5.00",
                checked: amountType == '5'
              },
              {
               value: creditBuyCapacity,
               text: "Max (£" +  creditBuyCapacity  +")",
               checked: amountType == creditBuyCapacity
              },
              {
                divider: "Or add your own amount"
              },
              {
                value: "other",
                html: otherAmount,
                checked: amountType == 'other'
              }
            ]
          }) }}
          {{ govukButton({
              text: "Continue",
              type: "submit"
            }) }}
          </form>
         </div>
       </div>
     </div>
{% endblock %}
